{% extends "base.html" %}

{% block body %}
<header>
    <h1>Context Clues</h1>
</header>
<div class="container">
    <div class="row">
        <div>
            <h2>Looking for some context?</h2>
            <input type="text" name="query" value="" placeholder="Please Enter Your Query :)">

            <div id="bayes">
                <h2>Pay no attention to the man behind the curtain...</h2>
            </div>
        </div>
    </div>
    <p>Lovingly crafted by <a href="http://twitter.com/#attamusc">@attamusc</a> using <a href="http://www.tornadoweb.org/">Tornado</a> :)</p>
</div>
{% end %}